<%= render "sidebar_admin" %>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
  <div class="ed_dashboard_tab_info">
    <div class="tabcon">
      <h1>
        <%= t("static_pages.home.hello")%>, 
        <span>
            <%= current_user.username%>
        </span>
      </h1>
    </div>
  </div>
</div>