
<div class="col-md-12">
  <%if !@categories.blank?%>
    <div class = "show-course">
      <%@categories.take(6).each do |cate|%>
        <%= link_to user_lesson_path(id: cate.id), class: "btn btn-course" do%>
          <i class="fa fa-calendar-o icon_course" aria-hidden="true">    </i><%= cate.name%>
        <%end%>
      <%end%>
    <%if @categories.count > 6%>
      <div class="dropdown div-inline_user">
        <button class="btn btn-course" type="button" data-toggle="dropdown"><i class="fa fa-calendar-o icon_course" aria-hidden="true">    </i> Tất cả
        <span class="caret"></span></button>
        <ul class="dropdown-menu drop_user" style = "margin-top: 50px !important;">
        <% (7...@categories.count).each do |i|%>
          <li>
            <%= link_to user_lesson_path(id: @categories[i].id), class: "btn_course_all" do%>
              <i class="fa fa-calendar-o icon_course" aria-hidden="true">    </i><%= @categories[i].name%>
            <%end%>
          </li>
        <% end %>
        </ul>
      </div>
    <%end%>
  <%end%>
</div>