<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newQuestion" data-whatever="@getbootstrap"><%= "Kết quả"%></button>
<div class="modal fade" id="newQuestion" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h3>Kết quả</h3></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Tên bài học</th>
              <th>Điểm </th>
            </tr>
          </thead>
          <tbody>
          <% @result.each do |rs|%>
            <%if rs.lesson.category_id == params[:id].to_i%>
              <tr>
                <td><%= rs.lesson.name_lesson%></td>
                <td><%= rs.content%></td>
              </tr>
            <%end%>
          <%end%>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>